@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap');

/*----------------GENERAL*/
* {
    box-sizing: border-box;
}

footer, main, header, aside {
    width: 100%;
}

/*------------------BODY*/
body {
    display: inline-block;
    background-color: #eeeeee; 
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: justify;
    color: #333;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
}

/*---------------------H*/
h1, h2, h3 {
    color: black;
}

h4 {
    font-size: 51px;
    color: white;
}

#h41 {
    background-color: black;
    width: 400px;
    margin-bottom: 7px;
}

#h42 {
    margin-top: 7px;
    background-color: black;
    width: 530px;
    margin-bottom: 10px;
}

/*------------------NAV*/
nav {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

nav h1 {
   font-size: 42px;
   font-family: 'Coiny', cursive;
   margin: 0;
}

nav ul {
    font-family: 'Roboto', sans-serif;
}

nav a {
    padding-right: 35px;
    color: #7A7A7A;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}


/*---------------HEADER*/
header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 25px;
}


#tit_wwwapas {
    font-family: 'Coiny', cursive;
    font-size: 88px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 5px;
}

#tit_somos {
    font-size: 48px;
    font-weight: 700;
    color: black;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}

header h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    background-color: #FCEE21;
    width: 450px;
    margin-top: 0;
}

header img {
    width: 100%;
}

/*-----------------MAIN*/
#inicio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: solid 0.5px #333;
}

#encab1 {
    background-color: #FCEE21;
    font-size: 26px;
    width: 335px;
}

#encab2 {
    background-color: #FCEE21;
    font-size: 26px;
    width: 460px;
}

.parrafoencab {
    font-size: 21px;
}

main h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 41px;
    margin-bottom: 0;
    margin-left: 35px;
 }

#servicios {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: solid 0.5px #333;
}

main h4 {
    font-size: 51px;
}

#consulta {
    background-color: #FCEE21;
    font-size: 33px;
    font-weight: 700;
    width: 355px;
}

main img {
    width: 90%;
}

/*-----------------LISTA*/
ol {
    list-style-position: inside;
}

ul {
   list-style: none; 
}

#li7 {
    background-color: #FCEE21;
    font-size: 27px;
    font-weight: 700;
    width: 370px;
}

main li {
    padding-bottom: 20px;
}

/*-----------------ASIDE*/
aside {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    padding-top: 40px;
}


aside img {
    justify-content: space-around;
    width: 80px;
    height: 80px;
}

.imgr {
    margin-right: 75px;
}

#redes{
    font-size: 25px;
    font-weight: 700;
    color: #808080;
    margin-left: 25px;
}

/*---------------SECTION*/
section {
    width: 45%;
} 

/*-----------FORMULARIO*/
#contacto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

form {
    width: 45%;
}

#contac2 {
    padding-left: 50px;
    align-items: center;
}

label {
    display: block;
    font-weight: 700;
    font-size: 20px;
    padding-top: 10px;
}

input {
    width: 450px;
    height: 35px;
}

textarea {
    width: 450px;
    height: 150px;
}

.boton {
    width: 450px;
    height: 40px;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.colorat {
    display: inline;
    color: rgb(209, 6, 6);
}

/*---------------FOOTER*/
footer h1 {
    font-family: 'Coiny', cursive;
    font-size: 33px;
    margin-left: 35px;
    margin-right: 20px;
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: #FCEE21;
    margin-top: 50px;
}

footer a {
    margin-left: 20px;
    color: #7A7A7A;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#mail {
    color: black;
    font-size: 21px;
}