@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*--------> BODY <--------*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 15px;
    background-image:url(background.jpg);
    display: flex;
    justify-content: center;
}

/*--------> CONTENEDORES <--------*/
.contenedor {
    margin: 0;
    background-image: url(background2.jpg);
    width: 600px;
}

.formulario {
    margin: 0;
    padding-top: 5px;
}

.t {
    display: flex;
    justify-content: center;
}

/*--------> TABLA Y RECUADROS <--------*/
.info {
    margin: 10px 5px;
    padding: 10px 5px;
    border: 0.5px solid rgb(175, 16, 16);
    border-radius: 2px;
}

.tabla {
    width: 595px;
    margin: 10px 5px;
    padding: 10px 5px;
    border: 0.5px solid rgb(175, 16, 16);
    border-radius: 2px;
}

th {
    color: rgb(230, 84, 26);
    text-align: center;
    padding: 10px 30px;
    margin: 10px;
    font-size: 19px;
}

td {
    color: rgb(230, 84, 26);
    text-align: center;
    padding: 5px 10px;
    margin: 10px 5px;
    font-size: 17px;
}

/*--------> TÍTULOS <--------*/
h1 {
    color: rgb(175, 16, 16);
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: white;
    font-weight: 550;
    font-size: 18px;
    background-color: rgb(64, 105, 240);
    padding-left: 20px;
    height: 35px;
    display: flex;
    align-items: center;
    border: 0.5px solid #dadada;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h3 {
    color: rgb(230, 84, 26);
    font-weight: 400;
    font-size: 14;
    padding-left: 15px;
}

label {
    color: rgb(230, 84, 26);
    font-weight: 700;
    padding: 20px 10px;
}

/*--------> BOTONES E INPUTS <--------*/
.botones {
    display: flex;
    justify-content: space-around;
}

.boton, button {
    cursor: pointer;
    width: 150px;
    height: 40px;
    margin: 5px 0 15px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-color: rgb(64, 105, 240);
    border: 0.5px solid #dadada;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.boton2 {
    cursor: pointer;
    width: 150px;
    height: 40px;
    margin: 5px 0;
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-color:  rgb(64, 105, 240);
    border: 0.5px solid #dadada;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.boton:hover, button:hover {
    background-color: rgb(29, 46, 104);
    color: white;
  }

.boton2:hover {
    background-color: rgb(29, 46, 104);
    color: white;
}

input#id_nombre, select#id_materia {
    width: 400px;
    height: 30px;
}

input#id_edad {
    width: 100px;
    height: 30px;
}

/*--------> A Y HOVER <--------*/
a {
    color: rgb(230, 84, 26);
    font-weight: 700;
    font-size: 14;
    text-decoration:underline;
}

a:hover {
    color: rgb(64, 105, 240);
}