{% extends "appuni/layout.html" %}

{% block title %}
Actualizar Alumno
{% endblock %}

{% block content %}
<div class="contenedor">
<div class="formulario">
    <!--ACTUALIZAR ALUMNO-->
<h1 class="titulo">Actualizar Alumno</h1>

<div class="info">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="botones">
    <input type="submit" value="Actualizar Alumno" class="boton2">
    </div>
</form>
</div>

<div class="botones">
<a href="{% url 'index' %}"><button>Volver</button></a>
</div>
</div>
</div>
{% endblock %}