{% extends "appuni/layout.html" %}
{% load static %}

{% block title %}
Gestión de la Universidad
{% endblock %}

{% block content %}
<div class="contenedor">
    <!--HEADER-->
        <img src="{% static 'appuni/banner.png' %}">
        <h1 class="h1">Gestión de la Universidad</h1>

    <!--FORMULARIO-->
        <section id="formulario">
          <h2> Ingresar Alumno </h2>
       </section>

    <!--REGISTRO-->
     <h1 class="h1">Control de Registro</h1>
     <table class="tabla">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre y Apellido</th>
                <th>Edad</th>
                <th>Materia</th>
            </tr>
        </thead>
        
        {% for alunmo in alumnos %}
        <tr>
            <td><a href="{% url 'alumno' alumno.id %}">{{ alumno.id }}</a></td>
            <td>{{ alumno.nombre }}</td>
            <td>{{ alumno.edad }}</td>
            <td>{{ alumno.materia }}</td>
        </tr>
        {% endfor %}
    </table>
    
    <br>
    <a href='{% url "nuevo_alumno" %}'><button>Nuevo Alumno</button></a>
    </div>
{% endblock %}